<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录</title>
</head>
<body>
<div align="center">
    <h3>用户管理目录</h3>
    <table>
        <tr><td><a href="/user/findAll">查询全部</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a href="/user/findOne">ID查询</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a href="/user/find">多重查询</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a href="/user/insert">新增用户</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a href="/user/update">更新信息</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a href="/user/delete">删除用户</a></td></tr>
    </table>
</div>

</body>
</html>